* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", sans-serif;
}

.header {
  width: 100vw;
  height: 75px;
  padding: 0px 25px;
  background-color: #313131;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #af1e2d;
}
.header__title {
  color: #f7f7f7;
  font-size: 24px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
}
.header__tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn {
  width: 150px;
  height: 35px;
  outline: none;
  border: none;
  cursor: pointer;

  font-size: 16px;
}
.btn--pink {
  color: #f7f7f7;
  background-color: #d8008d;
}
.btn--red {
  color: #f7f7f7;
  background-color: #af1e2d;
}
.btn:last-of-type {
  margin-left: 15px;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.game__clicker {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border: none;
  outline: none;
  background-color: #af1e2d;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
  cursor: pointer;

  color: rgba(200, 200, 200, 0.85);
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 25px;
}
.game__clicker:active {
  background-color: #bf1e2d;
}

.game__clicker-counter {
  width: 150px;
  text-align: center;
  font-size: 42px;
  padding: 50px 0px;
  border: 1px solid #313131;
  background-color: #eee;
}
